apiVersion: kustomize.config.k8s.io/v1
kind: Kustomization

resources: 
  - deploy.yaml 
  - service.yaml 

labels: 
  - pairs: 
      env: dev 
    includeSelectors: true 

commonAnnotations: 
  branch: dev 

replicas: 
  - name: nginx-deploy 
    count: 2 

images: 
  - name: nginx 
    newName: nginx 
    newTag: "latest"

patches: 
  - target: 
      group: apps 
      version: v1 
      kind: Deployment 
      name: nginx-deploy 
    patch: 
      - op: add 
        path: 